.button {
  font-weight: normal;
  background-color: var(--color-maroon);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  &:hover {
    cursor: pointer;
    color: var(--color-maroon);
    background-color: white;
    border-color: var(--color-maroon);
    a {
      color: var(--color-maroon);
    }
  }
  a {
    color: white;
  }
}
