.button {
  font-weight: normal;

  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  a {
    color: inherit;
  }
  &.normal {
    color: white;
    background-color: var(--color-maroon);
    &:hover {
      color: var(--color-maroon);
      background-color: white;
      border-color: var(--color-maroon);
    }
  }
  &.revert {
    color: var(--color-maroon);
    background-color: white;
    border-color: var(--color-maroon);
    &:hover {
      color: white;
      background-color: var(--color-maroon);
    }
  }
}
