.navbar {
  background-position: center;
  background-size: cover;
  height: var(--measure-navbar-height);

  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .content {
    width: 95%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        height: 70px;
        @media (max-width: 600px) {
          display: none;
        }
      }
      .text {
        @media (max-width: 1200px) {
          display: none;
        }
        margin-left: 0.5rem;
        font-size: 3rem;
        color: var(--color-maroon);
        font-family: "Tangerine";
        font-weight: bold;
      }
    }
    .links {
      flex: 1;
      display: flex;
      // border: 1px solid blue;
      justify-content: flex-end;
      a {
        flex: 1;
        @media (min-width: 600px) {
          max-width: 120px;
        }
        color: gray;
        font-size: 1.1rem;
        border: 1px solid transparent;
        // border-color: red;
        border-radius: 3px;
        text-align: center;
        padding: 0.5rem 0;
      }
      a:hover {
        color: var(--color-maroon);
      }
      a.active {
        color: var(--color-maroon);
        border-color: var(--color-maroon);
      }
    }
    .mobiles {
      color: var(--color-maroon);
      font-size: 1.1rem;
      font-weight: 500;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}
