.gallery {
  margin-bottom: var(--measure-padding-vertical-block);
  padding: var(--measure-padding-vertical-block) 0;
  background-image: url(/sitebg.svg);
  .images {
    width: 95%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    overflow: hidden;
    .buttons {
      z-index: 5;
      // border: 10px solid blue;
      width: 100%;
    }
    .block {
      // border: 1px solid var(--color-bluegray);
      position: absolute;

      display: flex;
      user-select: none;
      gap: 30px;
      // transform: translateX(-100%);
      .image {
        z-index: 6;
      }
    }
  }
  .button {
    margin-top: var(--measure-padding-vertical-block);
    text-align: center;
  }
}
