.firstStory {
  width: 100%;
  height: 100%;
  position: relative;
  // border: 1px solid red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .mouseTracker {
    position: absolute;
    width: 80%;
    margin: auto;
    height: 100%;
    // border: 5px solid red;

    z-index: 8;
    // background-color: red;
  }
  p {
    font-size: 4rem;
    z-index: 1;
    user-select: none;
    @media (max-width: 1200px) {
      font-size: 3rem;
    }
  }
  .name {
    color: rgb(95, 255, 202);
    background-color: rgba(0, 0, 0, 0.425);
    font-size: 3.5rem;
    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }
    padding: 0 1rem;
  }
  .image {
    position: absolute;

    width: 105%;
    height: 120%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .main {
      position: absolute;
      // border: 10px solid red;
    }
    .parallex {
      position: absolute;
      // border: 10px solid blue;
      z-index: 1;
    }
  }
}
