.secondStory {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  @media (max-width: 600px) {
    padding: 0 15%;
  }
  position: relative;
  .lineBreaker {
    min-width: 100%;
    // border: 1px solid red;
  }
  .bigTextGroup {
    padding-top: 10vh;
    @media (max-width: 900px) {
      padding-top: 5vh;
    }
    display: flex;
    flex-wrap: wrap;
    .big {
      color: white;
      font-size: 4rem;
      @media (max-width: 1200px) {
        font-size: 3rem;
      }
    }
  }
  .smallTextGroup {
    display: flex;
    flex-wrap: wrap;
    .small {
      color: pink;
      margin-top: 2rem;
      font-size: 1.7rem;
      @media (max-width: 900px) {
        font-size: 1.3rem;
      }
    }
  }
  .subhashImage {
    position: absolute;
    top: 20%;
    right: 10%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    @media (max-width: 900px) {
      display: none;
    }
    img {
      width: 400px;
      @media (max-width: 1200px) {
        width: 250px;
      }
    }
  }
  .image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg/bg2.jpg');
  }
}
