.mobileImageView {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 20;
  .back {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    // background-color: red;
  }
  .images {
    // background-color: blue;
    height: 100%;
    position: relative;
    .image {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100vw;
      padding: 0 2.5vw;
      // background-color: red;
      text-align: center;
    }
  }
  .swipeHint {
    position: absolute;
    top: 1.5%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
  }
  .swipeAnimationShow {
    animation: show 600ms ease backwards 600ms;

    @keyframes show {
      from {
        left: -50%;
      }
    }
  }
  .swipeAnimationGone {
    animation: gone 600ms ease forwards 600ms;
    @keyframes gone {
      to {
        left: 150%;
      }
    }
  }
}
