.gallery {
  margin-top: var(--measure-navbar-height);
  min-height: calc(100vh - var(--measure-navbar-height));
  padding: var(--measure-padding-vertical-block) 0;
  .header {
    font-size: 2.5rem;
    color: var(--color-slategray);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--measure-padding-vertical-block);
  }
  .folders {
    padding: var(--measure-padding-vertical-block)
      var(--measure-padding-horizontal-block);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url('/sitebg.svg');
  }
  .miscImages {
    margin-top: calc(-1 * var(--measure-navbar-height));
  }
}
