.image {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  // border: 20px solid purple;
  .main {
    z-index: 2;
    transform-origin: center;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    svg {
      fill: rgb(185, 185, 185);
      // transform: scale(2);
    }
  }
}
.imageHovered {
  .main {
    transform: scale(1.1);
    transition: transform 300ms ease;
  }
}
