.imageView {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  .imageGrid {
    display: flex;

    .images {
      display: flex;
      overflow-x: auto;
      flex-basis: 70%;
      border: 1px solid blue;
      gap: 50vw;
      img {
        height: 70vh;
      }
    }

    .arrow {
      cursor: pointer;
      border: 1px solid red;
      flex: 1;
      display: grid;
      place-content: center;
      color: var(--color-silver);
      font-size: 3rem;
      &:hover {
        color: white;
      }
    }
  }
}
