.imageView {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);

  .closeButton {
    height: 95px;
    padding: 0 4rem;
    position: absolute;
    width: 100%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-silver);
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
  .imageGrid {
    display: flex;
    margin-top: 95px;
    .images {
      display: flex;
      overflow-x: auto;
      flex-basis: 70vw;

      // border: 1px solid blue;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arrow {
      cursor: pointer;
      // border: 1px solid red;
      flex: 1;
      display: grid;
      place-content: center;
      color: var(--color-silver);
      font-size: 3rem;
      &:hover {
        color: white;
      }
    }
  }
}
