.feedCard {
  padding: 1rem;
  // border: 1px solid blue;
  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 50%;
      border: 10px solid rgb(233, 233, 233);
    }
    .details {
      margin-left: 1rem;
      .name {
        font-size: 1.3rem;
      }
      .location {
        color: gray;
        margin-top: 0.4rem;
      }
    }
  }
  .complement {
    margin: 1rem 0;
    img {
      height: 15px;
    }
  }
  .button {
    &:hover {
      cursor: pointer;
    }
    height: 50px;
    display: flex;
    align-items: center;
    width: min-content;
    margin-left: auto;
    color: var(--color-maroon);
    i {
      font-size: large;
      margin-left: 10px;
      border: 1px solid var(--color-maroon);
      padding: 5px 10px;
      border-radius: 50%;
    }
  }
}
