.folder {
  border-radius: 3px;
  // border: 1px solid red;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    .linkText {
      text-decoration: underline;
    }
  }

  .linkText {
    text-align: center;
    margin-top: 1rem;
  }
}
