.footer {
  background-color: var(--color-slategray);
  .topPart {
    width: var(--measure-window-width);
    margin: auto;
    // border: 1px solid red;
    padding: var(--measure-padding-vertical-block) 0;
    .head {
      font-size: var(--measure-footer-head-font-size);
      text-transform: uppercase;
      color: var(--color-bluegray);
      margin-bottom: var(--measure-padding-vertical-block);
    }
    display: flex;
    gap: 15px;
    justify-content: space-between;
    .followUs {
      .text {
        width: 50vw;
        @media (max-width: 900px) {
          display: none;
        }
        color: var(--color-silver);
        margin-bottom: var(--measure-padding-vertical-block);
      }
      .logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        svg {
          height: 30px;
          width: 30px;
          fill: var(--color-silver);
          &:hover {
            fill: var(--color-bluegray);
            cursor: pointer;
          }
        }
      }
    }
    .contactUs {
      .info {
        color: var(--color-silver);
      }
    }
  }
  .bottomPart {
  }
}
