.navbar {
  background-position: center;
  background-size: cover;
  height: var(--measure-navbar-height);

  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .content {
    width: var(--measure-window-width);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        height: 70px;
        @media (max-width: 600px) {
          display: none;
        }
      }
      .text {
        @media (max-width: 1000px) {
          display: none;
        }
        margin-left: 0.5rem;
        font-size: 3rem;
        color: var(--color-maroon);
        font-family: 'Tangerine', cursive;
        font-weight: bold;
      }
    }
    .links {
      @media (min-width: 600px) {
        margin-left: auto;
      }
      // border: 1px solid red;
      display: flex;
      a {
        color: gray;
        font-size: 1.1rem;
        border: 1px solid transparent;
        padding: 0.5rem 1.5rem;
        border-radius: 3px;
      }
      a:hover {
        color: var(--color-maroon);
      }
      a.active {
        color: var(--color-maroon);
        border-color: var(--color-maroon);
      }
    }
  }
}
