.home {
  margin-top: var(--measure-navbar-height);
  min-height: calc(100vh - var(--measure-navbar-height));
  .header {
    font-size: 2.5rem;
    color: var(--color-slategray);
    font-weight: bold;
    padding: var(--measure-padding-vertical-block) 0;
  }

  .textFeed {
    width: var(--measure-window-width);
    margin: auto;
    padding: var(--measure-padding-vertical-block) 0;
    display: flex;
    gap: var(--measure-padding-vertical-block);
    @media (max-width: 900px) {
      flex-direction: column;
    }
    .textSection {
    }
    .feedSection {
      margin: auto;
      // border: 1px solid red;
      .header {
        font-size: var(--measure-padding-vertical-block);
        text-align: center;
        width: 100%;
      }
    }
  }
  .services {
    // border: 1px solid red;

    padding: var(--measure-padding-vertical-block)
      var(--measure-padding-horizontal-block);
    margin-bottom: calc(var(--measure-padding-vertical-block) * 2);
    background-image: url('/sitebg.svg');
  }
}
