* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  --color-silver-light: #f0f0f0;
  --color-silver: #c7c6bf;
  --color-silverdark: #a1a1a1;
  --color-maroon: rgb(71, 17, 14);
  --color-lightslategray: rgb(117, 125, 136);
  --color-slategray: hsl(0, 0%, 23%);
  --color-darkslategray: hsl(240, 7%, 18%);
  --color-steelblue: rgb(147, 208, 255);
  --color-bluegray: #66788c;
  --color-bluegray-light: #99bde4;
  --color-lightgreen: rgb(95, 255, 202);
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}
.container {
  --measure-window-width: 90%;
  --measure-padding-horizontal-block: 5%;
  --measure-padding-vertical-block: 2rem;
  --measure-navbar-height: 75px;
  --measure-footer-head-font-size: 1.2rem;
  --measure-card-width: 400px;
  @media (min-width: 600px) {
    --measure-footer-head-font-size: 1.5rem;
  }
  @media (min-width: 900px) {
    --measure-window-width: 80%;
    --measure-padding-horizontal-block: 10%;
    --measure-navbar-height: 95px;
    --measure-footer-head-font-size: 1.7rem;
  }
  @media (min-width: 1200px) {
    --measure-footer-head-font-size: 2rem;
  }
}

.desktopViewCustomImageContainer {
}
.swipe-story-left-enter {
  transform: translateX(100%);
}
.swipe-story-left-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.swipe-story-right-enter {
  transform: translateX(-100%);
}
.swipe-story-right-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.swipe-image-left-enter {
  transform: translateX(100%);
  display: block;
}
.swipe-image-left-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.swipe-image-left-enter-done {
  display: block;
}
.swipe-image-left-exit {
  display: block;
}
.swipe-image-left-exit-active {
  transform: translateX(-100%);
  transition: all 300ms ease;
}
.swipe-image-left-exit-done {
  display: none;
}
.swipe-image-right-enter {
  transform: translateX(-100%);
  display: block;
}

.swipe-image-right-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.swipe-image-right-enter-done {
  display: block;
}
.swipe-image-right-exit {
  display: block;
}
.swipe-image-right-exit-active {
  transform: translateX(100%);
  transition: all 300ms ease;
}
.swipe-image-right-exit-done {
  display: none;
}
.feed-enter {
  display: block;
  opacity: 0;
}
.feed-enter-active {
  opacity: 1;
  transition: all 300ms ease;
  transition-delay: 100ms;
}
.feed-enter-done {
  display: block;
}
.feed-exit {
  display: block;
}
.feed-exit-active {
  opacity: 0;
  transition: all 300ms ease;
}
.feed-exit-done {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
.visibility-visible {
  visibility: visible;
}
.swipe-home-gallery {
  .image-left-enter {
    display: block;
    transform: translateX(-300%);
  }
  .image-left-enter-active {
    transform: translateX(0%);
    transition: all 400ms ease;
  }
  .image-left-enter-done {
    display: block;
  }
  .image-left-exit {
    display: block;
  }
  .image-left-exit-active {
    transform: translateX(400%);
    transition: all 300ms ease;
  }
  .image-left-exit-done {
    display: none;
  }
  .image-right-enter {
    display: block;
    transform: translateX(400%);
  }
  .image-right-enter-active {
    transform: translateX(0%);
    transition: all 400ms ease;
  }
  .image-right-enter-done {
    display: block;
  }
  .image-right-exit {
    display: block;
  }
  .image-right-exit-active {
    transform: translateX(-400%);
    transition: all 300ms ease;
  }
  .image-right-exit-done {
    display: none;
  }
}

.story-enter {
  visibility: visible;
  opacity: 0;
}
.story-enter-active {
  opacity: 1;
  transition: all 300ms ease;
}
.story-enter-done {
  visibility: visible;
}
.story-exit {
  visibility: visible;
}
.story-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
  transition-delay: 1000ms;
}
.story-exit-done {
  visibility: hidden;
}
.first-story {
  --distortion-time: all 100ms ease;
  .welcome-enter {
    visibility: visible;
    opacity: 0;
    transform: translate(-200px, -300px) rotateZ(-30deg) scale(1.2) !important;
  }
  .welcome-enter-active {
    transform: translate(0px, 0px) !important;
    opacity: 1;
    transition: all 1000ms ease;
  }
  .welcome-enter-done {
    visibility: visible;
    transition: var(--distortion-time);
  }
  .welcome-exit {
    visibility: visible;
  }
  .welcome-exit-active {
    opacity: 0;
    transform: translate(-200px, -300px) rotateZ(-60deg) scale(1.5) !important;
    transition: all 1000ms ease-in;
  }
  .welcome-exit-done {
    visibility: hidden;
  }
  .to-enter {
    visibility: visible;
    opacity: 0;
    transform: translateY(-300px) rotateZ(-120deg) !important;
  }
  .to-enter-active {
    opacity: 1;
    transform: translate(0px, 0px) !important;
    transition: all 1000ms ease 500ms;
  }
  .to-enter-done {
    visibility: visible;
    transition: var(--distortion-time);
  }
  .to-exit {
    visibility: visible;
  }
  .to-exit-active {
    opacity: 0;
    transform: translateY(-300px) rotateZ(-120deg) !important;
    transition: all 1000ms ease-in;
  }
  .to-exit-done {
    visibility: hidden;
  }
  .subhash-enter {
    visibility: visible;
    opacity: 0;
    transform: translate(200px, -300px) rotateZ(30deg) scale(1.2) !important;
  }
  .subhash-enter-active {
    opacity: 1;
    transform: translate(0px, 0px) !important;
    transition: all 1000ms ease 1000ms;
  }
  .subhash-enter-done {
    visibility: visible;
    transition: var(--distortion-time);
  }
  .subhash-exit {
    visibility: visible;
  }
  .subhash-exit-active {
    opacity: 0;
    transform: translate(200px, -300px) rotateZ(30deg) scale(1.5) !important;
    transition: all 1000ms ease-in;
  }
  .subhash-exit-done {
    visibility: hidden;
  }
  .image-enter {
    transform: translateY(3.2rem) !important;
    opacity: 0;
  }
  .image-enter-active {
    transform: translateY(0px) !important;
    opacity: 1;
    transition: all 2000ms ease;
  }
  .image-enter-done {
    transition: var(--distortion-time);
  }
  .image-exit-active {
    transform: scale(1.5) translateY(-100px) !important;
    opacity: 0;
    transition: all 1300ms ease-in;
  }
  .image-exit-done {
    visibility: hidden;
  }
}
.second-story {
  .bigText-enter {
    visibility: visible;
    transform: translateX(200px) translateY(-20px) rotateZ(10deg)
      rotateX(-80deg);
    opacity: 0.5;
  }
  .bigText-enter-active {
    transform: rotateZ(0deg);
    opacity: 1;
    transition: all 1000ms ease;
  }

  .bigText-enter-done {
    visibility: visible;
  }
  .bigText-exit {
    visibility: visible;
  }
  .bigText-exit-active {
    transform: translateX(-500px) rotateZ(-20deg);
    opacity: 0;
    transition: all 1000ms ease-in;
  }
  .bigText-exit-done {
    visibility: hidden;
  }
  .smallText-enter {
    visibility: visible;
    transform: translateX(200px) translateY(-20px) rotateZ(10deg)
      rotateX(-80deg);
    opacity: 0;
  }
  .smallText-enter-active {
    transform: rotateZ(0deg);
    opacity: 1;
    transition: all 1000ms ease;
    transition-delay: 200ms;
  }

  .smallText-enter-done {
    visibility: visible;
  }
  .smallText-exit {
    visibility: visible;
  }
  .smallText-exit-active {
    transform: translateX(-500px) rotateZ(-20deg);
    opacity: 0;
    transition: all 1000ms ease-in;
    transition-delay: 200ms;
  }
  .smallText-exit-done {
    visibility: hidden;
  }
  .subhash-image-enter {
    transform: translateX(500px) rotateZ(10deg) rotateX(-80deg);
    opacity: 0;
  }
  .subhash-image-enter-active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1000ms ease;
    transition-delay: 200ms;
  }
  .subhash-image-exit-active {
    transform: translateX(-700px) rotateZ(-20deg);
    opacity: 0;
    transition: all 1000ms ease-in;
    transition-delay: 200ms;
  }
  .image-enter {
    opacity: 0;
  }
  .image-enter-active {
    opacity: 1;
    transition: all 2000ms ease;
  }
}
.third-story {
  .bigText-enter {
    visibility: visible;
    transform: translateX(200px) translateY(-20px) rotateX(-80deg);
    opacity: 0.5;
  }
  .bigText-enter-active {
    transform: rotateZ(0deg);
    opacity: 1;
    transition: all 1000ms ease;
  }

  .bigText-enter-done {
    visibility: visible;
  }
  .bigText-exit {
    visibility: visible;
  }
  .bigText-exit-active {
    transform: translateX(-500px) translateY(-100px) rotateZ(-10deg) scale(1.1);
    opacity: 0;
    transition: all 1000ms ease-in;
  }
  .bigText-exit-done {
    visibility: hidden;
  }
  .smallText-enter {
    visibility: visible;
    transform: translateX(200px) translateY(-20px) rotateZ(-10deg);
    opacity: 0;
  }
  .smallText-enter-active {
    transform: rotateZ(0deg);
    opacity: 1;
    transition: all 1000ms ease;
    transition-delay: 200ms;
  }

  .smallText-enter-done {
    visibility: visible;
  }
  .smallText-exit {
    visibility: visible;
  }
  .smallText-exit-active {
    transform: translateX(-1000px) translateY(-100px) rotateZ(-10deg) scale(1.1);
    opacity: 0;
    transition: all 1000ms ease-in;
    transition-delay: 200ms;
  }
  .smallText-exit-done {
    visibility: hidden;
  }
  .subhash-image-enter {
    transform: translate(100px, 100px) scale(0.5);
    opacity: 0;
  }
  .subhash-image-enter-active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1000ms ease;
    transition-delay: 200ms;
  }
  .subhash-image-exit-active {
    transform: translate(-200px, 200px) scale(2);
    opacity: 0;
    transition: all 1000ms ease-in;
    transition-delay: 200ms;
  }
  .image-enter {
    opacity: 0;
  }
  .image-enter-active {
    opacity: 1;
    transition: all 2000ms ease;
  }
}
