.secondStory {
  height: calc(90vh - var(--measure-navbar-height));
  background-color: black;
  background-image: url('/161.jpg');
  color: white;
  .animated {
    font-size: 2rem;
    transform: translateY(-100%);
    animation: show 300ms ease forwards 300ms;
    @keyframes show {
      to {
        transform: translateY(0);
      }
    }
  }
}
